<div>
  <div>
    <span class="count">-</span> todos
  </div>
  <div class="filter">
    <a class="show-all">all</a> |
    <a class="show-not-done">not done</a> |
    <a class="show-done">done</a>
  </div>
  <div>
    <a class="clear">clear</a>
  </div>
</div>