body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }
  body a {
    color: #00B7FF;
    text-decoration: none;
    cursor: pointer; }
    body a:hover {
      text-decoration: underline; }
  body ul {
    list-style-type: none; }
    body ul .checked {
      text-decoration: line-through; }

.footer div {
  float: left;
  padding: 0 10px; }

.hide {
  display: none; }

.navbar-default {
  background-image: none;
  background-color: #e74c3c;
  border-color: #c0392b; }
  .navbar-default .navbar-brand {
    color: #ecf0f1; }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
      cursor: default;
      color: #ecf0f1; }

.navbar-brand {
  color: #ecf0f1;
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin: auto;
  font-size: 25px; }
  .navbar-brand:hover, .navbar-brand:focus {
    cursor: default;
    color: #ecf0f1; }

.todos {
  margin-top: 20px; }
